{% extends 'base.html.twig' %}

{% block title %}Hackat'Web
{% endblock %}

{% block javascripts %}
	<script src="https://kit.fontawesome.com/f84e5ee0a5.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 arial;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		img {
			width: 50%;
			length: 50%;
			border-radius: "10%";
		}
	</style>

	<div class="example-wrapper" style="text-align:center;">
	<p align="center">
		<p style="font-size:40px; font-family: Georgia, serif;">{{h.theme}}</p>
		<br>
		<img class="img" src="{{h.image}}">
		<br><br>
		<p align="center">Date de debut : {{h.datedebut|date('d-m-Y')}}</p>
		<p align="center">Heure de debut : {{h.heuredebut|date('H:i:s')}}</p>
		<p align="center">Première diffusion : {{h.datefin|date('d-m-Y')}}</p>
		<p align="center">Heure de fin : {{h.heurefin|date('H:i:s')}}</p>
		<p align="center">Lieu : {{h.lieu}}</p>
		<p align="center">Rue : {{h.rue}}</p>
		<p align="center">Ville  : {{h.ville}}</p>
		<p align="center">Codepostal : {{h.codepostal}}</p>
		<p align="center">Date limite  : {{h.datelimite|date('d-m-Y')}}</p>
		<p align="center">Nombres de places :{{h.nbplaces}}</p>
		<p align="center">Nombres de places restantes :{{nb}}</p>
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}					
					<a href="{{path('inscriptionH',{'id':h.idhackathon})}}" class="btn btn-primary"><i class="fa-solid fa-pen"></i></i> S'inscrire</a>																				
		{% endif %}
</p>

	</div>
{% endblock %}
